* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: cyan;
}

.intro_text {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    text-shadow: 3px 3px grey;
}

.temp_text {
    font-size: 15px;
    font-family: sans-serif;
    margin: 15px;
}

.temp_images {
    margin: 15px;
    object-fit: cover;
}