*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/* NAVBAR STYLING */
header{
    position: fixed;
    background-color: #323232;
    top: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: cyan;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* MEDIA QUERY FOR NAVBAR HAMBURGER MENU */
@media(max-width:1600px){
    .container{
        width: 100%;
    }
}

@media(max-width:1024px){
    .hamburger {
        display: block;
    }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #323232;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

/* END OF NAVBAR STYLING */

/* ONE-PAGE SCROLL STYLING */
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 40px;
    color: #242424;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

section:nth-child(odd){
    background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}

/* END OF ONE-PAGE SCROLL STYLING */

/* HOME/HERO PAGE INFO */
.name_color{
    color: #4ca1af;
}

.intro_text{
    font-size: 45px;
    margin-top: 70px;
    padding: 30px;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #242424;
}
/* END OF HOME/HERO INFO */

/* FLEXBOX STYLING FOR ABOUT PAGE */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.about-header {
    text-align: center;
    width: 100%;
}

.about-text {
    width: 500px;
    height: 500px;
    background-color: #fff;
    padding: 40px;
    border: 2px solid #323232;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #323232;
}

p {
    font-size: .5em;
}

/* REMEMBER THAT ALL PICTURES WILL BE AFFECTED BY THIS IMG STYLING - I CAN STYLE IMG SEPARATELY IF I ADD A CLASS TO EACH IMAGE */
img {
    border: 2px solid #323232;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover; 
}